body {
    font-family: sans-serif;
}

.codebox {
    font-family: courier;
    border: solid 1px black;
    background-color: #FFDEAD;
    margin: 5px;
    padding: 5px;
    min-height: 2em;
}

#result::before {
    font-family: sans-serif;
    color: blue;
    font-weight: bold;
}

button {
    font-size: 1.2em;
}

.selectedText {
    font-weight: bold;
    color: red;
}

body {
    margin: 0;
}

.leftSide, .rightSide {
    position: relative;
    width: 50vw;
    height: 100vh;
    float: left;
}